
.container {
  width: 500px;
  text-align: center;
  display: block;
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -30px;
  border-radius: 10px 10px 0 0;
  height: 120px;
}

.container2 {
  width: 500px;
  text-align: center;
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -30px;
  height: 120px;
}

.container3 {
  width: 500px;
  text-align: center;
  display: block;
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -30px;
  height: 120px;
}

.container4 {
  width: 500px;
  text-align: center;
  display: block;
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
  height: 120px;
  border-radius: 0 0 10px 10px;
}

.container5 {
  margin-top: 20px;
  text-align: center;
  display: block;
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 300px) {
  .container, .container2, .container3, .container4, .container5 {
    width: 80%
  }
}
